@using ISProject.Utils;
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISProject</title>
    <link href="~/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" />
                    <label class="text-success" style="cursor:pointer">Perfect Buy</label>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    
                    <partial name="_LoginPartial" />
                    
                    @await Component.InvokeAsync("CloseAuctions")

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if(User.IsInRole(SD.ManagerUser ))
                        {
                            <li>
                                <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
                            </li>
                        }
                        

                        <li class="nav-item dropdown text-white-50">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownAuctionLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Auctions
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDownAuctionLink">
                                <a class="dropdown-item" asp-area="Customer" asp-controller="Auction" asp-action="Index" asp-route-callBack="@SD.AllAuctions" asp-route-status="@SD.ActiveStatus">All auctions</a>
                                @if(User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" asp-area="Customer" asp-controller="Auction" asp-action="Index" asp-route-callBack="@SD.BidedAuctions" asp-route-status="@SD.ActiveStatus">Bided auctions</a>
                                }
                                @if(User.IsInRole(SD.SellerUser) || User.IsInRole(SD.ManagerUser)){
                                    <a class="dropdown-item" asp-area="Customer" asp-controller="Auction" asp-action="Index" asp-route-callBack="@SD.CreatedAuctions" asp-route-status="@SD.ActiveStatus">My auctions</a>
                                }
                            </div>
                        </li>

                        @if(User.IsInRole(SD.SellerUser) || User.IsInRole(SD.ManagerUser)){
                            <li>
                                <a class="nav-link" asp-area="Customer" asp-controller="Seller" asp-action="Index">My Products</a>
                            </li>
                        }
                        @if(User.Identity.IsAuthenticated) 
                        {
                            @await Component.InvokeAsync("Notification")
                        }

                        @if(HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCartCount) != null)
                        {
                            <li>
                                @{
                                    var count = HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCartCount);
                                }
                                <a class="nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index">Shopping Cart &nbsp; (@count)</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index">Shopping Cart &nbsp; (0)</a>
                            </li>
                        }
                                                
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top pl-3 footer text-white-50" style="background-color: #343a40;">
        <div class="container">
            &copy; 2020 - Perfect Buy
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

