@model ISProject.Models.ViewModels.CustomBidViewModel

<partial name =_ValidationScriptsPartial />


<div class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Making a Custom Bid</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div>
                <form asp-action="CustomBid" method="post" >
                    
                    @Html.HiddenFor(x => x.AuctionId)
                    @Html.HiddenFor(x => x.PriceStep)
                    @Html.HiddenFor(x => x.CurrentPrice)
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="CurrentPrice" class="col-form-label"></label>
                        </div>
                        <div class="col-5">
                            <input asp-for="CurrentPrice" class="form-control" readonly style="background: #fff" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="PriceStep" class="col-form-label"></label>
                        </div>
                        <div class="col-5">
                            <input asp-for="PriceStep" class="form-control" readonly style="background: #fff" />
                        </div>
                    </div>
                            

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="CustomBid" class="col-form-label">You are going to Bid (USD)</label>
                        </div>
                        <div class="col-5">
                            <input id="bid" autofocus asp-for="CustomBid" class="form-control" placeholder="Place your bid here..." /> 
                            <span asp-validation-for="CustomBid" class="text-danger" id ="bidValidation" ></span>
                        </div>
                        
                    </div>


                            
                            
                            
                     <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type = "submit" id="btn-submit" style="display: none"></button>
                        <input type="button" class="btn btn-info form-control" value="Make a Bid" onclick="handle()" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    
                       
                    </div>                         
                        
                </form>
            </div>
        </div>

               

    </div>
</div>
 


<script>

    
    async function validateInput()
    {
        var v = document.getElementById("bidValidation");
        
        var bid = document.getElementById("bid").value;

        if(bid == ""){
            v.innerHTML = " Your bid field is required.";
            return false;
        }
    
        var n = parseFloat(bid);
        if(n == NaN){
            v.innerHTML = " Your bid field must be a number.";
            return false;
        }
        if(n < @(Model.CurrentPrice + Model.PriceStep) ){
            v.innerHTML = " Your bid must be at least of $" + @( (Model.CurrentPrice + Model.PriceStep).ToString("F2") ) ;
            return false;
        }
        
        return true    
        
    }

    function handle(){
        validateInput().then(v=>{
            if(v){
                document.getElementById("btn-submit").click()
            }
        });
    }

</script>
