@model  ISProject.Models.ViewModels.AuctionItemViewModel
@{
    ViewData["Title"] = "Auction Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-12">
    <div class="col-8 offset-2">
        <div class="row">
            <div class="col-5">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-info">Auction Details:</span>
                </h4>
            </div>
            <div class="col-7 text-right">
                <a asp-action="Index" class="btn btn-primary">Back</a>
            </div>
        </div>
        <ul class="list-group mb-3">
             
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">Begin Date: </h6>
                    <small>@Model.AuctionHeader.BeginDate</small><br>
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">End Date: </h6>
                    <small>@Model.AuctionHeader.EndDate</small><br>
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">Minimun outbid: </h6>
                    <small>@Html.DisplayFor(modelItem => Model.AuctionHeader.PriceStep)</small><br>
                </div>
            </li>
            
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">User who is auctioning: </h6>
                    <small>@Model.AuctionHeader.User.Name</small><br>
                  
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">Current Price: </h6>
                    @if(Model.AuctionUser!=null && Model.AuctionUser.LastPriceOffered == Model.AuctionHeader.CurrentPrice){
                        <small style="color:green">@Html.DisplayFor(modelItem => Model.AuctionHeader.CurrentPrice)</small>
                    }
                    else{
                        <small style="color:maroon">@Html.DisplayFor(modelItem => Model.AuctionHeader.CurrentPrice)</small>
                    }
                  
                </div>
            </li>

            @if(Model.AuctionUser!=null){
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        
                        @if(Model.AuctionUser.LastPriceOffered == Model.AuctionHeader.CurrentPrice){
                            <h6 style="color:green" class="my-0">You are the current buyer</h6>
                        }
                        else{
                            <h6 style="color:maroon" class="my-0">You are not the current buyer</h6>
                        }
                    
                    </div>
                </li>
            }

        </ul>
    </div>
</div>




<div class="col-12">
    <div class="col-8 offset-2">
        <div class="row">
            <div class="col-5">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-info">Products in Auction:</span>
                </h4>
            </div>
        </div>

        <ul class="list-group mb-3">

            @foreach(var item in Model.AuctionProduct)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6 class="my-0">@item.Product.Name</h6>
                        <small class="text-muted">Quantity: @item.Quantity</small><br>
                        <small class="text-muted">@item.Product.Description</small><br>
        
                    </div>
                </li>
            }
            
        </ul>
    </div>
</div>


<div class="col-12">
    <div class="col-8 offset-2">
        <div class="row">
            <div class="col-7 text-left">
                @if(@Model.AuctionUser==null)
                {   
                    <button value="Join Auction" onclick="openForm()" id="placeOrder" class="btn btn-primary">Join Auction</button>
                }
                else{
                    <h6 class="text-success"><i class="fas fa-check"></i> You are participating in this auction</h6>
                }
            </div>
        </div>
    </div>
</div>









<div class="form-popup form-container" id="buyForm">
    <h1 style="color: green">Transaction</h1>
    <h5>To join the auction you will start bidding for a price of
        <br/> $@((Model.AuctionHeader.CurrentPrice + Model.AuctionHeader.PriceStep).ToString("F2") )  </h5>

    <label><b>Credit Card Number</b></label>
        <input type="number" placeholder="Enter Number" id="CCnumber">
                
    <div class="row p-2">
        <button class="btn btn-success form-control" onclick="validateTransaction()">Accept</button>
    </div>
    <div class="row p-2">
        <button class="btn btn-danger form-control" onclick="closeForm()">Close</button>
    </div>
</div>





@section Scripts{
    <script>
        function openForm() {
            document.getElementById("buyForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("buyForm").style.display = "none";
        } 

        function sleep(milliseconds){
            const date = Date.now();
            let currentDate = null;
            do{
                currentDate = Date.now();
            }while(currentDate - date < milliseconds);
        }

        function validateTransaction(){
            var number = document.getElementById("CCnumber").value;
            if(number.toString() == ''){
                alert("You need to enter the credit card number in order to process the transaction.");
            }
            else{
                var r = Math.round(Math.random() * 1000);
                if(r % 2 == 0 || r % 3 == 0){
                   window.location.href = '@Url.Action("JoinAuction",new { id = @Model.AuctionHeader.Id })';
                   
                   
                }
                else{
                    
                    alert("The transaction was unsuccessful. Please, try again.");
                }
            }
        }

    </script>
}

    