@using ISProject.Models
@using ISProject.Utils
@model ISProject.Models.User

@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<div class="col-12 row">
    <div class="col-9">
        @if(Model as Seller != null){
            <h4>Seller</h4>
        } 
        else{
            <h4>Customer</h4>
        }
    </div>
    <div class="text-right">
        <a class="btn btn-info" asp-action="Index"> Back to List </a>
    </div>
</div>
    
<hr />
<div>
    <div class="col-12">
        <div class="row">
            <div class="col-9">
                <div class="form-group row">
                    <div class="col-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </div>
                    <div class="col-5">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        @Html.DisplayNameFor(model => model.UserName)
                    </div>
                    <div class="col-5">
                        @Html.DisplayFor(model => model.UserName)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        @Html.DisplayNameFor(model => model.Email)
                    </div>
                    <div class="col-5">
                        @Html.DisplayFor(model => model.Email)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </div>
                    <div class="col-5">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </div>                
                </div>
            </div>
            <div class="col-3">            
                <div class= "form-group">
                    <a class="btn btn-outline-success" asp-action="BuysDetails" asp-route-id="@Model.Id">Shopping History</a>
                </div>
                <div class= "form-group">
                    <a class="btn btn-outline-success" asp-action="Auctions" asp-route-id="@Model.Id" asp-route-callBack="@SD.BidedAuctions" asp-route-status="@SD.ActiveStatus">Bided Auctions</a>
                </div>
                @if(Model as Seller != null){
                    <div class= "form-group">
                        <a class="btn btn-outline-success" asp-action="Auctions" asp-route-id="@Model.Id" asp-route-callBack="@SD.CreatedAuctions" asp-route-status="@SD.ActiveStatus">Created Auctions</a>
                    </div>
                    <div class= "form-group">
                        <a class="btn btn-outline-success" asp-action="SellsDetails" asp-route-id="@Model.Id">Sells</a>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <a class="btn btn-primary col-2 offset-2" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
    </div>
</div>




    
        
