@model ISProject.Models.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class ="row">
    <div class = "col-6">
        <h2 class= "text-info">Users List</h2>
    </div>
    <div class = "col-6 text-right">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info">New Admin </a>
    </div>
</div>

@if(Model.Users.ToList().Count() > 0 || Model.Sellers.ToList().Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Type Of User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>Regular</td>
                    </tr>
            }
            @foreach (var item in Model.Sellers) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>Seller</td>
                </tr>
            }
        </tbody>
    </table>
}
else{
    <p>No users...</p>
}
