@using ISProject.Models
@model IEnumerable<ISProject.Models.ProductSale>

@{
    ViewData["Title"] = "Details";
}

<div class="col-12 row">
    <div class="col-9">
        <h1>Details</h1> 
    </div>
    <div class="text-right">
        <a class="btn btn-info" asp-action="Details" asp-route-id="@ViewBag.Id"> Back </a>
    </div>
</div>
@if(Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Units)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Units)
                        </td>
                    </tr>
            }
        </tbody>
    </table>
}
else{
    <p>You are not selling any products yet...</p>
}
<div>
    @* <a asp-action="Details" asp-route-id="Model.Seller.Id">Back to Details</a> //AÑADIR QUE SE PUEDA REGRESAR MEDIANTE UN LINK *@
</div>
