@model ISProject.Models.ViewModels.OrderDetailsCart

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if(Model.listCart.Count > 0)
{
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0 row container">
                <div class="col-6">Order Summary</div>
                <div class="col-6 text-right">
                    <a asp-asp-area="Customer" asp-controller="Cart" asp-action="Index" id="callBack" class="btn btn-outline-info btn-sm">Back to Cart</a>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Order Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Email</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="@Model.OrderHeader.User.Email" type="text" class="form-control" readonly style="background: #fff" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Date</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="@Model.OrderHeader.OrderTime" type="text" class="form-control" readonly style="background: #fff" />
                                </div>
                            </div>

                            @if(@Model.ChangesMessage != "")
                            {
                                <br /><br />
                                <div class="row col-11 offset-1">
                                    <h4 style="color: red">@Model.ChangesMessage</h4>
                                </div>
                            }
                        </div>

                        <div class="col-5 offset-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-info">Order Summary:</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach(var item in Model.listCart)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0">@item.ProductSale.Product.Name</h6>
                                            <small class="text-muted">Quantity: @item.Count</small>
                                        </div>
                                        <span class="text-muted">$@((item.ProductSale.Price * item.Count).ToString("F2"))</span>
                                    </li>
                                }
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-info">Total (USD)</small>
                                    <strong class="text-info">@Html.DisplayFor(model => Model.OrderHeader.TotalPrice)</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-popup form-container" id="buyForm">
                <h1 style="color: green">Transaction</h1>

                <label><b>Credit Card Number</b></label>
                <input type="number" placeholder="Enter Number" id="CCnumber">
                
                <div class="row p-2">
                    <button class="btn btn-success form-control" onclick="validateTransaction()">Accept</button>
                </div>
                <div class="row p-2">
                    <button class="btn btn-danger form-control" onclick="closeForm()">Close</button>
                </div>
            </div>
            

            <div class="card-footer">
                <div class="row">
                    <div class="col-4 offset-8">
                        <button value="Place Order" onclick="openForm()" id="placeOrder" class="btn btn-success form-control">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="post" style="display: none">
        @* <input id="userId" asp-for="@Model.listCart[0].UserId" hidden /> *@
        @Html.HiddenFor(x => x.listCart[0].UserId)
        @Html.HiddenFor(x => x.OrderHeader)
        @Html.HiddenFor(x => x.listCart)
        @Html.HiddenFor(x => x.ChangesMessage)
        <button id="buyButton" type="submit"></button>
    </form>

}
else
{
    <div>No items added to the shopping cart...</div>
}


@section Scripts{
    <script>
        function openForm() {
            document.getElementById("buyForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("buyForm").style.display = "none";
        } 

        function sleep(milliseconds){
            const date = Date.now();
            let currentDate = null;
            do{
                currentDate = Date.now();
            }while(currentDate - date < milliseconds);
        }

        function validateTransaction(){
            var number = document.getElementById("CCnumber").value;
            if(number.toString() == ''){
                alert("You need to enter the credit card number in order to process the transaction.");
            }
            else{
                var r = Math.round(Math.random() * 1000);
                if(r % 2 == 0 || r % 3 == 0){
                    document.getElementById("buyButton").click();
                }
                else{
                    alert("The transaction was unsuccessful. Please, try again.");
                }
            }
        }

    </script>
}