@using ISProject.Utils
@using ISProject.Models
@using ISProject.Models.ViewModels
@model NotificationViewModel


 <!-- Side navigation -->
<div class=" navbar sidenav ">
    <a class="nav-link" asp-area="Common" 
    asp-controller="Notification" asp-action="Index">All Notifications</a>
   @if(this.User.IsInRole(SD.ManagerUser)){
        <a class="nav-link" asp-area="Common" 
            asp-controller="Notification" asp-action="Index" asp-route-noti_type="NotiRole">Role Change Notification</a>
   }
   <a class="nav-link" asp-area="Common" 
    asp-controller="Notification" asp-action="Index" asp-route-noti_type="NotiBuy">Buy Notifications</a>

    @if(this.User.IsInRole(SD.SellerUser)){
        <a class="nav-link" asp-area="Common" 
            asp-controller="Notification" asp-action="Index" asp-route-noti_type="NotiSell">Sell Notifications</a>
   }
   
    <a class="nav-link" asp-area="Common" 
    asp-controller="Notification" asp-action="Index" asp-route-noti_type="NotiAuction">Auctions</a>

   <a class="nav-link" asp-area="Common" 
    asp-controller="Notification" asp-action="Index" asp-route-noti_type="NotiGeneral">Generals</a>
   
 
 
</div>

<!-- Page content -->
<div class="main">

    @foreach(var item in Model.NotiRole)
    {
        
        <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="row">
                        <div class="col-8">
                            @if(!item.Seen)
                            {
                                <label class="text-primary" style="font-size:21px; color:maroon">New!</label>
                                
                            }
                        </div>
                        
                        <div class="col-4 text-right" style="color:maroon">
                            <h4>@item.NotiDate</h4>
                        </div>
                        <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                
                            <a asp-action="Dismiss" asp-route-id="@item.Id" asp-route-type="@Model.Type" asp-controller="Notification" class="btn btn-danger form-control">Denied</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-12 text-justify">
                <p>@Html.Raw(item.Message)</p>
            </div>
            <div class="row col-12 text-justify">
                <p>Short Information about the Customer:</p>
                <ul>
                    <li>
                        <p>Email: @Html.DisplayFor(modelitem=> item.User.Email)</p>

                    </li>
                    <li>
                        <p>Name: @Html.DisplayFor(modelitem=> item.User.Name)</p>
                    </li>
                    
                </ul>
            </div>

            <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                @* <a asp-action="Buy" class="btn btn-success form-control" asp-route-id="@item.Id">Buy</a> *@
                <a asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-id="@item.UserID" class="btn btn-success form-control">Check Customer</a>
            </div>
            
            <div class="row col-12 text-justify">
                
                <a asp-action="AcceptRequest" asp-route-id="@item.Id" asp-controller="Notification" class = "btn btn-success">
                    <i class="fas fa-check">Accept Request</i>
                </a>
                
            </div>
            
            
        </div>

    }

    @foreach(var item in Model.NotiBuy)
    {
        <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="row">
                        <div class="col-8">
                            @if(!item.Seen)
                            {
                                <label class="text-primary" style="font-size:21px; color:maroon">New!</label>
                                
                            }
                        </div>
                        
                        <div class="col-4 text-right" style="color:maroon">
                            <h4>@item.NotiDate</h4>
                        </div>
                        <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                
                            <a asp-action="Dismiss" asp-route-id="@item.Id" asp-route-type="@Model.Type" asp-controller="Notification" class="btn btn-danger form-control">Dismiss</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-12 text-justify">
                <p>@Html.Raw(item.Message)</p>
            </div>
            <div class="row col-12 text-justify">
            
            </div>

            <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                <a asp-action="BuyDetails" class="btn btn-success form-control" asp-route-id="@item.Id">See complete Order</a> 
                @* <a href="#" class="btn btn-success form-control">See complete Order</a> *@
            </div>
            
            
            
        </div>

    }


    @foreach(var item in Model.NotiSell)
    {
        <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="row">
                        <div class="col-8">
                            @if(!item.Seen)
                            {
                                <label class="text-primary" style="font-size:21px; color:maroon">New!</label>
                                
                            }
                        </div>
                        
                        <div class="col-4 text-right" style="color:maroon">
                            <h4>@item.NotiDate</h4>
                        </div>
                        <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                
                            <a asp-action="Dismiss" asp-route-id="@item.Id" asp-route-type="@Model.Type" asp-controller="Notification" class="btn btn-danger form-control">Dismiss</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-12 text-justify">
                <p>@Html.Raw(item.Message)</p>
            </div>
            <div class="row col-12 text-justify">

                @{ var total = 0.0; }
                @foreach(var od in item.OrderDetails)
                {  
                    total += od.Price * od.Count; 
                }
                <p>Total earned: $@(total.ToString("F2"))</p>
            
            </div>

            <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                @* <a asp-action="BuyDetails" class="btn btn-success form-control" asp-route-id="@item.Id">See complete Order</a>  *@
                    <a asp-action="SellDetails" asp-route-id="@item.Id" class="btn btn-success form-control">See complete Order</a>
            </div>
            
            
            
        </div>

    }

    @foreach(var item in Model.NotiGeneral)
    {
        <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="row">
                        <div class="col-8">
                            @if(!item.Seen)
                            {
                                <label class="text-primary" style="font-size:21px; color:maroon">New!</label>
                                
                            }
                        </div>
                        
                        <div class="col-4 text-right" style="color:maroon">
                            <h4>@item.NotiDate</h4>
                        </div>
                        <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                
                            <a asp-action="Dismiss" asp-route-id="@item.Id" asp-route-type="@Model.Type" asp-controller="Notification" class="btn btn-danger form-control">Dismiss</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-12 text-justify">
                @if(item.Message.Contains("Congrats")){
                    <h5>
                        <i class="fas fa-trophy"></i>
                        @Html.Raw(item.Message)
                        <i class="fas fa-trophy"></i>
                    </h5>
                }
                else
                {
                    <p>@Html.Raw(item.Message)</p>
                }
            </div>
                            
            
        </div>

    }

    @foreach(var item in Model.NotiAuction)
    {
        
        <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="row">
                        <div class="col-8">
                            @if(!item.Seen)
                            {
                                <label class="text-primary" style="font-size:21px; color:maroon">New!</label>
                                
                            }
                        </div>
                        
                        <div class="col-4 text-right" style="color:maroon">
                            <h4>@item.NotiDate</h4>
                        </div>
                        <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                
                            <a asp-action="Dismiss" asp-route-id="@item.Id" asp-route-type="@Model.Type" asp-controller="Notification" class="btn btn-danger form-control">Dismiss</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-12 text-justify">
                <p>@Html.Raw(item.Message)</p>
            </div>

            <h4>Products in Auction</h4>
            <div class="row col-12 text-justify">
                
                <ul class="list-group">
                    
                    @foreach (var p in item.AuctionProduct)
                    {
                        <li class="list-group-item">
                            @p.Product.Name
                        </li>
                    }
                <ul>
            </div>

            <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                <a asp-area="Customer" asp-controller="Auction" asp-action="Details" asp-route-status="@item.Status" asp-route-callBack="@SD.AllAuctions" asp-route-id="@item.AuctionHeaderID" class="btn btn-success form-control">Check Auction</a>
            </div>
            
            
        </div>

    }

    @if(Model.NotiRole.Count() > 0 || Model.NotiBuy.Count() > 0 || Model.NotiSell.Count() > 0 || Model.NotiGeneral.Count() > 0 || Model.NotiAuction.Count() > 0 ){
        <div class="col-md-3 col-sm-12 offset-md-9 text-center">     
            <a asp-action="DismissAll" asp-route-type="@Model.Type" asp-controller="Notification" class="btn btn-danger form-control">Dismiss All</a>
        </div>
    }
    else{
        <h4> There are no notifications... </h4>
    }
      
    
</div> 