@using ISProject.Utils
@using ISProject.Models
@using ISProject.Models.ViewModels
@model NotificationViewModel


 <!-- Side navigation -->
<div class=" navbar sidenav ">
    <a class="nav-link" asp-area="Common" 
    asp-controller="Notification" asp-action="Index">All Notifications</a>
   @if(this.User.IsInRole(SD.ManagerUser)){
        <a class="nav-link" asp-area="Common" 
            asp-controller="Notification" asp-action="Index" asp-route-noti_type="NotiRole">Role Change Notification</a>
   }
   <a class="nav-link" asp-area="Common" 
    asp-controller="Notification" asp-action="Index" asp-route-noti_type="NotiBuy">Buy Notifications</a>

    @if(this.User.IsInRole(SD.SellerUser)){
        <a class="nav-link" asp-area="Common" 
            asp-controller="Notification" asp-action="Index" asp-route-noti_type="NotiSell">Sell Notifications</a>
   }
   
 
 
</div>

<!-- Page content -->
<div class="main">
      
        @foreach(var item in Model.NotiRole)
        {
            
            <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <div class="row">
                            <div class="col-8">
                                @if(!item.Seen)
                                {
                                    <label class="text-primary" style="font-size:21px; color:maroon">New!</label>
                                    
                                }
                            </div>
                            
                            <div class="col-4 text-right" style="color:maroon">
                                <h4>@item.NotiDate</h4>
                            </div>
                            <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                    
                                <a asp-action="Dismiss" asp-route-id="@item.Id" asp-route-type="@Model.Type" asp-controller="Notification" class="btn btn-danger form-control">Dismiss</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-12 text-justify">
                    <p>@Html.Raw(item.Message)</p>
                </div>
                <div class="row col-12 text-justify">
                    <p>Short Information about the Customer:</p>
                    <ul>
                        <li>
                            <p>Email: @Html.DisplayFor(modelitem=> item.User.Email)</p>

                        </li>
                        <li>
                            <p>Name: @Html.DisplayFor(modelitem=> item.User.Name)</p>
                        </li>
                       
                    </ul>
                </div>

                <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                    @* <a asp-action="Buy" class="btn btn-success form-control" asp-route-id="@item.Id">Buy</a> *@
                    <a asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-id="@item.UserID" class="btn btn-success form-control">Check Customer</a>
                </div>
                
                <div class="row col-12 text-justify">
                    
                    <a asp-action="AcceptRequest" asp-route-id="@item.Id" asp-controller="Notification" class = "btn btn-success">
                        <i class="fas fa-check">Accept Request</i>
                    </a>
                    
                </div>
                
                
            </div>

        }

        @foreach(var item in Model.NotiBuy)
        {
            <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <div class="row">
                            <div class="col-8">
                                @if(!item.Seen)
                                {
                                    <label class="text-primary" style="font-size:21px; color:maroon">New!</label>
                                    
                                }
                            </div>
                            
                            <div class="col-4 text-right" style="color:maroon">
                                <h4>@item.NotiDate</h4>
                            </div>
                            <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                    
                                <a asp-action="Dismiss" asp-route-id="@item.Id" asp-route-type="@Model.Type" asp-controller="Notification" class="btn btn-danger form-control">Dismiss</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-12 text-justify">
                    <p>@Html.Raw(item.Message)</p>
                </div>
                <div class="row col-12 text-justify">
                
                </div>

                <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                    <a asp-action="BuyDetails" class="btn btn-success form-control" asp-route-id="@item.Id">See complete Order</a> 
                    @* <a href="#" class="btn btn-success form-control">See complete Order</a> *@
                </div>
                
                
                
            </div>

        }


        @foreach(var item in Model.NotiSell)
        {
            <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <div class="row">
                            <div class="col-8">
                                @if(!item.Seen)
                                {
                                    <label class="text-primary" style="font-size:21px; color:maroon">New!</label>
                                    
                                }
                            </div>
                            
                            <div class="col-4 text-right" style="color:maroon">
                                <h4>@item.NotiDate</h4>
                            </div>
                            <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                    
                                <a asp-action="Dismiss" asp-route-id="@item.Id" asp-route-type="@Model.Type" asp-controller="Notification" class="btn btn-danger form-control">Dismiss</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-12 text-justify">
                    <p>@Html.Raw(item.Message)</p>
                </div>
                <div class="row col-12 text-justify">
                    <p>Total earned: $@(item.OrderDetails.Price * item.OrderDetails.Price)</p>
                </div>

                <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                    @* <a asp-action="BuyDetails" class="btn btn-success form-control" asp-route-id="@item.Id">See complete Order</a>  *@
                     <a href="#" class="btn btn-success form-control">See complete Order</a>
                </div>
                
                
                
            </div>

        }

        @if(Model.NotiRole.Count()>0 || Model.NotiBuy.Count() > 0 || Model.NotiSell.Count() > 0){
            <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                    
                <a asp-action="DismissAll" asp-route-type="@Model.Type" asp-controller="Notification" class="btn btn-danger form-control">Dismiss All</a>
            </div>
        }
      
    
</div> 